name: CI Deployment 

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install  pillow pyinstaller
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: CI sanity check
        run: |
          python lusail_airport.py
